.season-fullwidth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
}
#season-app.display-season.winter{
    background: aliceblue;
}
#season-app.display-season.summer{
    background: orange;
}
#season-app.display-season.winter i{
    color: blue;
}
#season-app.display-season.summer i{
    color: red;
}
#season-project i.icon-top-left{
    position: absolute;
    top: 10px;
    left: 10px;
}
#season-project h1{
    text-align: center;

}
#season-project i.icon-bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
h1.project-heading{
    text-align: center;
    border-bottom: 2px groove #c0c1c2;
}
.hide{
    display: none;
}